force-app/main/default/flows/Request_Case_Queue_Attribution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Premium_Assigments</name>
        <label>Premium Assigments</label>
        <locationX>989</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Request_Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Low_Queue</targetReference>
            </connector>
            <label>Low</label>
        </rules>
        <rules>
            <name>Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Request_Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Medium_Queue</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Request_Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_High_Queue</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Assigment</name>
        <label>Queue Assigment</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Request_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StandardID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Assigments</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Request_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PremiumID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Assigments</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standard_Assigments</name>
        <label>Standard Assigments</label>
        <locationX>502</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Low_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Request_Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Low_Queue</targetReference>
            </connector>
            <label>Low</label>
        </rules>
        <rules>
            <name>Medium_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Request_Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Medium_Queue</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>High_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Request_Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_High_Queue</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Request Case Queue Attribuinton {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Case Queue Attribution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Request_Record</name>
        <label>Case Request Record</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Premium_High_Queue</name>
        <label>Premium High Queue</label>
        <locationX>1121</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Premium_High_Request_Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premium_High</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Premium_Low_Queue</name>
        <label>Premium Low Queue</label>
        <locationX>892</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Premium_Low_Request_Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premium_Low</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Premium_Medium_Queue</name>
        <label>Premium Medium Queue</label>
        <locationX>1003</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Premium_Medium_Request_Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premium_Medium</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_High_Queue</name>
        <label>Standard High Queue</label>
        <locationX>639</locationX>
        <locationY>632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_High_Request_Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_High</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Low_Queue</name>
        <label>Standard Low Queue</label>
        <locationX>389</locationX>
        <locationY>618</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Low_Request_Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Low</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Medium_Queue</name>
        <label>Standard Medium Queue</label>
        <locationX>512</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Medium_Request_Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Medium</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Premium_High_Request_Case_Update</name>
        <label>Premium High Request Case Update</label>
        <locationX>1128</locationX>
        <locationY>771</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Premium_High_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Premium_Low_Request_Case_Update</name>
        <label>Premium Low Request Case Update</label>
        <locationX>891</locationX>
        <locationY>763</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Premium_Low_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Premium_Medium_Request_Case_Update</name>
        <label>Premium Medium Request Case Update</label>
        <locationX>1012</locationX>
        <locationY>766</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Premium_Medium_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Standard_High_Request_Case_Update</name>
        <label>Standard High Request Case Update</label>
        <locationX>638</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Standard_High_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Standard_Low_Request_Case_Update</name>
        <label>Standard Low Request Case Update</label>
        <locationX>390</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Standard_Low_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Standard_Medium_Request_Case_Update</name>
        <label>Standard Medium Request Case Update</label>
        <locationX>512</locationX>
        <locationY>754</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Request_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Standard_Medium_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Case_Request_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>essaaq</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>PremiumID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012gL000000wbNNQAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>StandardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012gL000000wbLlQAI</stringValue>
        </value>
    </variables>
</Flow>
